@font-face {
    font-family : 'Nunito Sans';
    font-style  : normal;
    font-weight : 400;
    font-stretch: 100%;
    font-display: swap;
    src         : url('../fonts/NunitoSans_7pt-Regular.ttf');
}

@font-face {
    font-family : 'Nunito Sans';
    font-style  : normal;
    font-weight : 700;
    font-stretch: 100%;
    font-display: swap;
    src         : url('../fonts/NunitoSans_7pt-Bold.ttf');
}

@font-face {
    font-family : 'Nunito Sans';
    font-style  : normal;
    font-weight : 800;
    font-stretch: 100%;
    font-display: swap;
    src         : url('../fonts/NunitoSans_7pt-ExtraBold.ttf');
}