* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    outline   : none;
    border    : none;
}

html {
    font-size: 10px;
}

body {
    font-family: $fontFamily;
    font-size  : 1.6rem;
    line-height: 1.5;
    color      : $greyColor-1;
}

img {
    max-width: 100%;
    height   : auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color          : $greyColor-1;
}

a:hover {
    color: $primaryColor;
}