$fontFamily: "Nunito Sans", sans-serif;

$primaryColor  : #3C4242;
$secondaryColor: #8A33FD;

$greyColor-1: #807D7E;
$greyColor-2: #BEBCBD;
$greyColor-3: #EDEEF2;
$greyColor-4: #F6F6F6;

$whiteColor: #FFFFFF;