p input:checked ~ span {
    color: red;
    text-decoration: line-through;
}

.website a[href="https://unicode.vn"] {
    color: red;
}

.website a[href^="https://facebook.com"] {
    color: red;
}

.website a[target] {
    color: green;
}

.website a[target~="a"] {
    color: blue;
}