:root {
  --container-width: 1326px;
  --column-spacing: 20px;
  --column-small-spacing: 10px;
  --column-max: 12;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-spacing);
  justify-content: space-between;
}

.row.row-small {
  row-gap: var(--column-small-spacing);
}

.row.row-medium {
  row-gap: var(--column-spacing);
}

.row.column-small {
  column-gap: var(--column-small-spacing);
}

.row.column-collapse {
  column-gap: 0;
}

.row.column-small > [class^=col-] {
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-small-spacing));
}

.row.column-collapse > [class^=col-] {
  --column-width: calc(100% / var(--column-max) * var(--column-size));
}

.col-1 {
  --column-size: 1;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-2 {
  --column-size: 2;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-3 {
  --column-size: 3;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-4 {
  --column-size: 4;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-5 {
  --column-size: 5;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-6 {
  --column-size: 6;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-7 {
  --column-size: 7;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-8 {
  --column-size: 8;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-9 {
  --column-size: 9;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-10 {
  --column-size: 10;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-11 {
  --column-size: 11;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

.col-12 {
  --column-size: 12;
  --max-width-column: calc(100% / var(--column-max) * var(--column-size));
  max-width: var(--max-width-column);
  flex-basis: var(--max-width-column);
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    --column-size: 1;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-2 {
    --column-size: 2;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-3 {
    --column-size: 3;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-4 {
    --column-size: 4;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-5 {
    --column-size: 5;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-6 {
    --column-size: 6;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-7 {
    --column-size: 7;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-8 {
    --column-size: 8;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-9 {
    --column-size: 9;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-10 {
    --column-size: 10;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-11 {
    --column-size: 11;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-sm-12 {
    --column-size: 12;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    --column-size: 1;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-2 {
    --column-size: 2;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-3 {
    --column-size: 3;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-4 {
    --column-size: 4;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-5 {
    --column-size: 5;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-6 {
    --column-size: 6;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-7 {
    --column-size: 7;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-8 {
    --column-size: 8;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-9 {
    --column-size: 9;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-10 {
    --column-size: 10;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-11 {
    --column-size: 11;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-md-12 {
    --column-size: 12;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    --column-size: 1;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-2 {
    --column-size: 2;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-3 {
    --column-size: 3;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-4 {
    --column-size: 4;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-5 {
    --column-size: 5;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-6 {
    --column-size: 6;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-7 {
    --column-size: 7;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-8 {
    --column-size: 8;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-9 {
    --column-size: 9;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-10 {
    --column-size: 10;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-11 {
    --column-size: 11;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-lg-12 {
    --column-size: 12;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    --column-size: 1;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-2 {
    --column-size: 2;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-3 {
    --column-size: 3;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-4 {
    --column-size: 4;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-5 {
    --column-size: 5;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-6 {
    --column-size: 6;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-7 {
    --column-size: 7;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-8 {
    --column-size: 8;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-9 {
    --column-size: 9;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-10 {
    --column-size: 10;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-11 {
    --column-size: 11;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xl-12 {
    --column-size: 12;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
}
@media screen and (min-width: 1400px) {
  .container {
    padding: 0;
  }
  .col-xxl-1 {
    --column-size: 1;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-2 {
    --column-size: 2;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-3 {
    --column-size: 3;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-4 {
    --column-size: 4;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-5 {
    --column-size: 5;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-6 {
    --column-size: 6;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-7 {
    --column-size: 7;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-8 {
    --column-size: 8;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-9 {
    --column-size: 9;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-10 {
    --column-size: 10;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-11 {
    --column-size: 11;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
  .col-xxl-12 {
    --column-size: 12;
    --max-width-column: calc(100% / var(--column-max) * var(--column-size));
    max-width: var(--max-width-column);
    flex-basis: var(--max-width-column);
  }
}
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.d-inline-flex {
  display: inline-flex;
}

@media screen and (min-width: 576px) {
  .d-sm-flex {
    display: flex;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-inline {
    display: inline;
  }
  .d-sm-inline-block {
    display: inline-block;
  }
  .d-sm-none {
    display: none;
  }
  .d-sm-inline-flex {
    display: inline-flex;
  }
}
@media screen and (min-width: 768px) {
  .d-md-flex {
    display: flex;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-none {
    display: none;
  }
  .d-md-inline-flex {
    display: inline-flex;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-flex {
    display: flex;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline {
    display: inline;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-none {
    display: none;
  }
  .d-lg-inline-flex {
    display: inline-flex;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-flex {
    display: flex;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-inline {
    display: inline;
  }
  .d-xl-inline-block {
    display: inline-block;
  }
  .d-xl-none {
    display: none;
  }
  .d-xl-inline-flex {
    display: inline-flex;
  }
}
@media screen and (min-width: 1400px) {
  .d-xxl-flex {
    display: flex;
  }
  .d-xxl-block {
    display: block;
  }
  .d-xxl-inline {
    display: inline;
  }
  .d-xxl-inline-block {
    display: inline-block;
  }
  .d-xxl-none {
    display: none;
  }
  .d-xxl-inline-flex {
    display: inline-flex;
  }
}
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media screen and (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}
@media screen and (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}
@media screen and (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}
@media screen and (min-width: 1400px) {
  .offset-xxl-0 {
    margin-left: 0%;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
}/*# sourceMappingURL=grid.css.map */