* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebeb;
}

.form-contact {
    width: 400px;
    min-height: 520px;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 100px auto;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-contact .form-item{
    padding: 0 32px 32px;
}

.form-contact .heading {
    margin-bottom: 8px;
    padding-top: 24px;
    background-color: #ccc;
}

.form-contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-contact .important {
    color: red;
}

.form-contact .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    border: 3px solid #ccc;
    outline: none;
}

.form-contact .form-control:focus {
    border: 3px solid red;
}

.form-contact .email p.email-example {
    color: #939393;
}

.btn {
    display: block;
    margin: 0 auto;
    background-color: #797979;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.6;
}